{% extends "layout.html" %}
{% block body %}
<h2>入力フォーム</h2>

<form action = "show/" method = "POST">

<h3>式の入力</h3>
<p>式1</p>
<p><input type="text" name="formura_1" size="50" minlength="1" maxlength="1000"　required  placeholder="x**3 + x + 2"></p>
<p>式2</p>
<p><input type="text" name="formura_2" size="50" minlength="1" maxlength="1000"　required  placeholder="x**2 + x + 2"></p>
<p>式3</p>
<p><input type="text" name="formura_3" size="50" minlength="1" maxlength="1000"　required  placeholder="x**2 + x + 2"></p>
<p>式4</p>
<p><input type="text" name="formura_4" size="50" minlength="1" maxlength="1000"　required  placeholder="x**2 + x + 2"></p>
<p>式5</p>
<p><input type="text" name="formura_5" size="50" minlength="1" maxlength="1000"　required  placeholder="x**2 + x + 2"></p>

<h3>領域の選択</h3>


<p><input class="button" type="submit" value="グラフを生成"></p>
</form>

{% endblock %}